<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>swap_pub</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisteServlet</display-name>
    <servlet-name>RegisteServlet</servlet-name>
    <servlet-class>com.controller.RegisteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteServlet</servlet-name>
    <url-pattern>/RegisteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.controller.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsSave</display-name>
    <servlet-name>GoodsSave</servlet-name>
    <servlet-class>com.controller.GoodsSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsSave</servlet-name>
    <url-pattern>/GoodsSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwapServlet</display-name>
    <servlet-name>SwapServlet</servlet-name>
    <servlet-class>com.controller.SwapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwapServlet</servlet-name>
    <url-pattern>/SwapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgreeRequServlet</display-name>
    <servlet-name>AgreeRequServlet</servlet-name>
    <servlet-class>com.controller.AgreeRequServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgreeRequServlet</servlet-name>
    <url-pattern>/AgreeRequServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMessageServlet</display-name>
    <servlet-name>AddMessageServlet</servlet-name>
    <servlet-class>com.controller.AddMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMessageServlet</servlet-name>
    <url-pattern>/AddMessageServlet</url-pattern>
  </servlet-mapping>
</web-app>